/*
  root.css
  KubeCity_Intro

  Created by Js Na on 2025/01/31.
  Copyright © 2025 Js Na, All rights reserved.
*/

* {
    font-family: 'Pretendard GOV', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    user-select: none;
    -webkit-user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--PrimaryBackground);
    color: var(--PrimaryText);
}

:root {
    --KubePink: #ff809f;
    --KubePink-Light: #ffc0cb;
    --KubePink-Dark: #ff668c;
    --KubeRed: #d93c3c;
    --KubeRed-Light: #f06464;
    --KubeRed-Dark: #aa2828;

    --PrimaryBackground: #f2f2f7;
    --SecondaryBackground: #ffffff;
    --PrimaryText: #000000;
    --ListBackground: #f2f2f7;
    --HeaderBackground: linear-gradient(
        180deg,
        #ff809fff 0%,
        #ff809fe7 10%,
        #ff809fcf 20%,
        #ff809fb7 30%,
        #ff809f9f 40%,
        #ff809f87 50%,
        #ff809f6f 60%,
        #ff809f57 70%,
        #ff809f3f 80%,
        #ff809f27 90%,
        #ff809f10 100%
      );
    --link: #007aff;
    --blurBackground: rgba(255, 255, 255, .5);
    --red: #ff3b30;
    --yellow: #ffcc00;
    --green: #34c759;
}
@media (prefers-color-scheme: dark) {
    :root {
        --SecondaryBackground: #1c1c1e;
        --PrimaryBackground: #000000;
        --PrimaryText: #ffffff;
        --ListBackground: #2c2c2e;
        --link: #0a84ff;
        --blurBackground: rgba(22, 22, 23, .5);
        --red: #ff453a;
        --yellow: #ffd60a;
        --green: #30d158;
    }
}